body{
    background-color: #dddddd;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ball{
    width:80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 65% 15%, rgb(212, 245, 245) 3%, rgb(1, 1, 19) 60%, rgb(200, 221, 221) 100%);  
    animation: bounce 3s infinite;

}
.ball-shadow{
    background-color: rgb(110, 108, 108, 0.8);
    height: 8px;
    width:100px;
    border-radius: 50%;
    box-shadow: 5px 3px 10px rgb(110, 108, 108), -5px 3px 10px rgb(110, 108, 108);
     animation: shadoweffect 3s infinite; 
}

@keyframes bounce {
    0% {
        top: 0px;
        height: 80px;
    }
    50% {
        top: -200px;
        height: 80px;
    }
    90%{
        height: 80px;
        top: 0px;
    }
    100% {
        top: 3px;
        height: 70px;
    }
}

@keyframes shadoweffect {
    0% {
        height: 8px;
        width:100px;
    }
    50% {
        height: 2px;
        width:10px;
    }
     90%{
        height: 8px;
        width:80px;
    } 
     100% { 
        height: 8px;
        width:100px;
    }
} 